
@{
    ViewData["Title"] = "TempDataSecondSample";

    string email = TempData["EmailAdresse"].ToString();
    int id = Convert.ToInt32(TempData["Id"]);

    TempData.Keep();
}

<h1>TempDataSecondSample</h1>

@TempData["EmailAdresse"]

@TempData["Id"]